@use "/src/styles.scss" as *;
.head-location{
    padding-top: 15px;
    text-align: center;
    h1,h2{
        margin:0;
    }

    h1{
        font-size:1.3em;
        text-shadow: 1px 1px 1px black;

    }

    h2{
        font-size:1.3em;
        text-shadow: 1px 1px 1px black;
        color: $blue;

    }
}

.body-location{
    margin: 10px auto;
    text-align: center;
    padding-bottom: 15px;
    p{
        margin:0;
        text-shadow: 1px 1px 1px black;
        font-size:1.2em;
    }
    h2{
        margin:0;
        font-size:1.3em;
        color:$blue;
    }
}